.title {
    font-size: 1.1rem;
    color: blue;
    cursor: pointer;
}

p {
    margin: 20px;
    margin-bottom: 0px;
}

.video {
    margin: 40px;
    text-align: center;
}

video {
    border: 5px solid black;
}

.info-card {
    border-color: white;
}

.info-card-body {
    padding-bottom: 0px;
}
