.key-word {
	background-color: #48cfad;
	color: white;
	cursor: pointer;
	max-width: 20%;
}

.add-btn {
	font-size: 3rem;
	line-height: 0.5;
}

.word-border {
	border: 0.2rem solid #ECF0F1;
	border-radius: 0.5rem;
}

.btn-added {
	font-size: 1.9rem;
	line-height: 0.5;
}