.tag {
	border-radius: 1em 5px 5px 1em;
	box-shadow: 0 0 5px #95A5A6;
	background-color: #ECF0F1;
	cursor: pointer;
}

.lowercase {
	text-transform: lowercase;
}

.tag-text {
	color: #000000;
}

.tag-text:hover {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}